---
layout: default
title: Envío de propuestas - Sala Aλhambra Day en esLibre 2021 - Error
permalink: /fallida/
---

<div style="background-color: #eceadf !important;" class="bootstrap">
  <h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: Se ha producido un error</h1>

  <p style="text-align: center;">
    <br><br>Parece que se ha producido un error al enviar la propuesta.<br><br>

    Por favor, vuelve a intentarlo en unos minutos, y si sigues teniendo cualquier problema escríbemos a <a href="mailto:lambda.in.alhambra@librelabgrx.cc">lambda.in.alhambra@librelabgrx.cc</a>.<br><br>

    Perdona por las molestias.
  </p>
</div>
