---
layout: default
title: Envío de propuestas - Sala Aλhambra Day en esLibre 2021 - Propuesta recibida
permalink: /recibida/
---

<div style="background-color: #eceadf !important;" class="bootstrap">
  <h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: ¡¡¡Propuesta recibida!!!</h1>

  <p style="text-align: center;">
    <strong>¡Muchas gracias por tu propuesta para la edición virtual de <strong>es<span class="red">Libre</span></strong> 2021 que estamos organizando otro año más!</strong><br><br>

    Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

    Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:lambda.in.alhambra@librelabgrx.cc">lambda.in.alhambra@librelabgrx.cc</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

    En cualquier caso, no pierdas de vista <a href="https://gitlab.com/librelabgrx/propuestas-lambda-alhambra/-/merge_requests">tu propuesta en nuestro repositorio</a> por si hubiera algún comentario o pregunta<br>(el enlace que te debería haber llegado por correo te
    llevará directamente a ella).<br><br>

    Una vez sea aceptada de forma definitiva podrás encontrarla en la <a href="/2021/">página de propuestas</a>.
  </p>

  <h3 style="padding-top: 20px; text-align: center;">¡¡¡HASTA PRONTO!!!<br>👏👏👏</h3>
</div>
