---
layout: default
title: Envío de propuestas de charlas y talleres para la sala Aλhambra Day en esLibre 2021
description: Si te gusta la programación funcional, ¡mándanos propuestas!
---

<div id="content" class="site-content">

  <section id="primary" class="content-area">
    <main id="main" class="site-main">
      <article id="post-571" class="post-571 page type-page status-publish hentry entry">
        <header class="entry-header">
          <h1 class="entry-title">Sala esLibre 2021 &#8220;Aλhambra Day: Programación funcional para todo el mundo&#8221;</h1>
        </header>

        <div class="entry-content">
          <figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="576" src="https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-1024x576.png" alt="" class="wp-image-574"
              srcset="https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-1024x576.png 1024w, https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-300x169.png 300w, https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-768x432.png 768w, https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small.png 1280w"
              sizes="(max-width: 1024px) 100vw, 1024px" /></figure>

          <h3><strong>¿Una λ en la Alhambra?</strong></h3>

          <p>No hay mejor sitio para celebrar la unión de las dos viejas ciudades del antiguo Reino Nazarí. Málaga y Granada bajo una misma <strong>λ</strong>, abierta a todas las personas de cerca y de lejos que quieran disfrutar de un evento
            dedicado a algo que (casi) nos gusta tanto como una buena tapita con su bebida: la Programación Funcional.</p>

          <p>Después de una primera edición con bastante éxito, tuvimos que cancelar la segunda edición presencial que ya teníamos preparada para el año pasado. Es por eso que este año hemos decido aprovecha la gran oportunidad de volver a celebrarlo
            de forma virtual dentro de la edición de este año de <a href="https://eslib.re/2021/" target="_blank" rel="noopener"> <strong><span style="color:black">es</span><span style="color:red">Libre</span></strong></a> que se celebrará los días
            25 y 26 de junio. Volvemos a tener
            una cita donde conocer gente y proyectos que usan la Programación Funcional cada día.</p>

          <figure class="wp-block-image alignwide"><img loading="lazy" width="1024" height="335" src="https://librelabgrx.cc/wp-content/uploads/2020/03/logo_ancho-1024x335.png" alt="" class="wp-image-502"
              srcset="https://librelabgrx.cc/wp-content/uploads/2020/03/logo_ancho-1024x335.png 1024w, https://librelabgrx.cc/wp-content/uploads/2020/03/logo_ancho-300x98.png 300w, https://librelabgrx.cc/wp-content/uploads/2020/03/logo_ancho-768x251.png 768w, https://librelabgrx.cc/wp-content/uploads/2020/03/logo_ancho.png 1070w"
              sizes="(max-width: 1024px) 100vw, 1024px" />
            <figcaption><strong>#LambdAlhambra</strong></figcaption>
          </figure>

          <h3><strong>Charlas para todos los niveles</strong></h3>

          <p>La Programación Funcional no es esa asignatura-cardo que hay que aprobar una vez en la vida. Tampoco es una ladera llena de chumberas que hay que escalar para comprender lo que son las mónadas o la Teoría de Categorías. Se trata de una
            herramienta más que puede ayudarnos un montón en problemas a los que nos enfrentamos en nuestros trabajos y estudios. Te lo demostraremos.</p>

          <p>Hemos preparado charlas enfocadas a principiantes que no tienen experiencia con la Programación Funcional, pero que conocen cualquier otro lenguaje como Python, Ruby, Java o C. ¿Cómo iniciarse en el mundo de la Programación Funcional?
          </p>

          <p>También hemos pensado en todas aquellas personas que están todavía en un eterno nivel intermedio de Scala, pero que no tienen tiempo para avanzar. ¿Qué camino seguir? </p>

          <p>Sea cual sea tu experiencia, tenemos algo para tí. </p>

          <p class="has-text-align-center"><strong>¡Nuestras Lambdas no pinchan!</strong></p>

          <figure class="wp-block-image alignwide"><img loading="lazy" width="1024" height="335" src="https://librelabgrx.cc/wp-content/uploads/2020/02/mascot-1-1024x335.png" alt="" class="wp-image-476"
              srcset="https://librelabgrx.cc/wp-content/uploads/2020/02/mascot-1-1024x335.png 1024w, https://librelabgrx.cc/wp-content/uploads/2020/02/mascot-1-300x98.png 300w, https://librelabgrx.cc/wp-content/uploads/2020/02/mascot-1-768x251.png 768w, https://librelabgrx.cc/wp-content/uploads/2020/02/mascot-1.png 1070w"
              sizes="(max-width: 1024px) 100vw, 1024px" />
            <figcaption>Pinchy: <a href="https://www.freepik.com/vipanee">https://www.freepik.com/vipanee</a></figcaption>
          </figure>

          <h3><strong>Por y para la Comunidad</strong></h3>

          <p>El evento nace con la idea de acercar Scala y la Programación Funcional a todo el mundo. De manera horizontal. Sin elitismo ni estrellas. Hacemos esto porque tenemos algo en común contigo: curiosidad e inquietud por mejorar.</p>

          <p>Además, al estar en contacto con empresas y comunidades nacionales e internacionales, podemos ofrecer a Granada, Málaga y Andalucía la oportunidad de aprovechar este evento para dar todo nuestro potencial a conocer. Que no se diga.</p>

          <h3><strong>es<span style="color:red">Libre</span></strong></h3>

          <p><strong>es<span style="color:red">Libre</span></strong> es un encuentro de personas interesadas en las tecnologías libres, enfocado a compartir conocimiento y experiencia alrededor de las mismas.</p>

          <p>Después de una <a href="https://eslib.re/2019">primera edición físicamente en Granada</a> que tuvimos el honor de organizar desde LibreLabGRX y una segunda virtualmente desde <a href="https://eslib.re/2020">Madrid</a> (gracias en esta
            ocasión a la <a href="https://ofilibre.gitlab.io/">OfiLibre de la URJC</a>), vuelve otro año con la edición del año 2021. La próxima edición se celebrará virtualmente también como resultado de la propuesta presentada por <strong><a
                href="https://librelabucm.org/">LibreLabUCM</a></strong>. </p>

          <h3><strong>Cómo enviar tu propuesta</strong></h3>

          <p>El envío de propuestas está abierta a todo el mundo y usaremos un procedimiento de envío de propuestas similar al de <strong><span style="color:black">es</span><span style="color:red">Libre</span></strong>, por eso, puedes usar los
            siguientes formularios para ello:</p>

          <ul>
            <li>Propuestas de charlas: <a href="/charlas">[español]</a> / <a href="/talks">[inglés]</a></li>
            <li>Propuestas de talleres: <a href="/talleres">[español]</a> / <a href="/workshops">[inglés]</a></li>
          </ul>

          <p>Las propuestas recibidas serán registradas en nuestro <a href="https://gitlab.com/librelabgrx/propuestas-lambda-alhambra/-/merge_requests" target="_blank">repositorio de propuestas</a>, y una vez que sea aceptada será listada en la
            página de propuestas de la <a href="/2021/" target="_blank">edición de este año</a>.</p>

          <h3><strong>Contacta con la organización</strong></h3>

          <p>Para cualquier cosa que tengas que decirnos: dudas, felicitaciones y rabietas… puedes escribir a:</p>

          <p class="has-text-align-center"><a href="mailto:lambda.in.alhambra@librelabgrx.cc">lambda.in.alhambra@librelabgrx.cc</a></p>

          <h3><strong>Código de Conducta</strong></h3>

          <p>Este evento apoya el código de conducta de <strong>es<span style="color:red">Libre</span></strong> que puedes leer <a href="https://eslib.re/conducta" target="_blank" rel="noreferrer noopener">aquí</a>. Si hubiera un problema y
            necesitases ayuda, dirígete a cualquier miembro de la organización. También tendrás un contacto de Telegram a tu disposición, que estará debidamente indicado y bien visible durante la conferencia.</p>
        </div><!-- .entry-content -->
      </article><!-- #post-571 -->
    </main><!-- #main -->
  </section><!-- #primary -->

</div><!-- #content -->
