<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="profile" href="https://gmpg.org/xfn/11" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name='robots' content='max-image-preview:large' />
  <link rel='dns-prefetch' href='//use.fontawesome.com' />
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="alternate" type="application/rss+xml" title="LibrelabGRX &raquo; Feed" href="https://librelabgrx.cc/feed/" />
  <link rel="alternate" type="application/rss+xml" title="LibrelabGRX &raquo; Feed de los comentarios" href="https://librelabgrx.cc/comments/feed/" />
  <script type="text/javascript">
    window._wpemojiSettings = {
      "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/",
      "ext": ".png",
      "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/",
      "svgExt": ".svg",
      "source": {
        "concatemoji": "https:\/\/librelabgrx.cc\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7"
      }
    };
    ! function(e, a, t) {
      var n, r, o, i = a.createElement("canvas"),
        p = i.getContext && i.getContext("2d");

      function s(e, t) {
        var a = String.fromCharCode;
        p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
        e = i.toDataURL();
        return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
      }

      function c(e) {
        var t = a.createElement("script");
        t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
      }
      for (o = Array("flag", "emoji"), t.supports = {
          everything: !0,
          everythingExceptFlag: !0
        }, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
        if (!p || !p.fillText) return !1;
        switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
          case "flag":
            return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430,
              56128, 56423, 56128, 56447
            ], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
          case "emoji":
            return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
        }
        return !1
      }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
      t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
        t.DOMReady = !0
      }, t.supports.everything || (n = function() {
        t.readyCallback()
      }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
        "complete" === a.readyState && t.readyCallback()
      })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
    }(window, document, window._wpemojiSettings);
  </script>
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel='stylesheet' id='wp-block-library-css' href='https://librelabgrx.cc/wp-includes/css/dist/block-library/style.min.css?ver=5.7' type='text/css' media='all' />
  <link rel='stylesheet' id='wp-block-library-theme-css' href='https://librelabgrx.cc/wp-includes/css/dist/block-library/theme.min.css?ver=5.7' type='text/css' media='all' />
  <link rel='stylesheet' id='grids-frontend-css' href='https://librelabgrx.cc/wp-content/plugins/grids/assets/css/frontend.css?ver=1.2.28' type='text/css' media='all' />
  <link rel='stylesheet' id='twentynineteen-style-css' href='https://librelabgrx.cc/wp-content/themes/twentynineteen/style.css?ver=1.4' type='text/css' media='all' />
  <link rel='stylesheet' id='twentynineteen-print-style-css' href='https://librelabgrx.cc/wp-content/themes/twentynineteen/print.css?ver=1.4' type='text/css' media='print' />
  <link rel='stylesheet' id='bfa-font-awesome-css' href='https://use.fontawesome.com/releases/v5.15.3/css/all.css?ver=2.0.1' type='text/css' media='all' />
  <link rel='stylesheet' id='bfa-font-awesome-v4-shim-css' href='https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css?ver=2.0.1' type='text/css' media='all' />
  <style id='bfa-font-awesome-v4-shim-inline-css' type='text/css'>
    @font-face {
      font-family: 'FontAwesome';
      src: url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-brands-400.eot'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-brands-400.woff2') format('woff2'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-brands-400.woff') format('woff'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-brands-400.ttf') format('truetype'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-brands-400.svg#fontawesome') format('svg');
    }

    @font-face {
      font-family: 'FontAwesome';
      src: url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-solid-900.eot'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-solid-900.woff2') format('woff2'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-solid-900.woff') format('woff'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-solid-900.ttf') format('truetype'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-solid-900.svg#fontawesome') format('svg');
    }

    @font-face {
      font-family: 'FontAwesome';
      src: url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-regular-400.eot'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-regular-400.woff2') format('woff2'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-regular-400.woff') format('woff'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-regular-400.ttf') format('truetype'),
        url('https://use.fontawesome.com/releases/v5.15.3/webfonts/fa-regular-400.svg#fontawesome') format('svg');
      unicode-range: U+F004-F005, U+F007, U+F017, U+F022, U+F024, U+F02E, U+F03E, U+F044, U+F057-F059, U+F06E, U+F070, U+F075, U+F07B-F07C, U+F080, U+F086, U+F089, U+F094, U+F09D, U+F0A0, U+F0A4-F0A7, U+F0C5, U+F0C7-F0C8, U+F0E0, U+F0EB, U+F0F3, U+F0F8, U+F0FE, U+F111, U+F118-F11A, U+F11C, U+F133, U+F144, U+F146, U+F14A, U+F14D-F14E, U+F150-F152, U+F15B-F15C, U+F164-F165, U+F185-F186, U+F191-F192, U+F1AD, U+F1C1-F1C9, U+F1CD, U+F1D8, U+F1E3, U+F1EA, U+F1F6, U+F1F9, U+F20A, U+F247-F249, U+F24D, U+F254-F25B, U+F25D, U+F267, U+F271-F274, U+F279, U+F28B, U+F28D, U+F2B5-F2B6, U+F2B9, U+F2BB, U+F2BD, U+F2C1-F2C2, U+F2D0, U+F2D2, U+F2DC, U+F2ED, U+F328, U+F358-F35B, U+F3A5, U+F3D1, U+F410, U+F4AD;
    }
  </style>
  <link rel='stylesheet' id='sccss_style-css' href='https://librelabgrx.cc/?sccss=1&#038;ver=5.7' type='text/css' media='all' />
  <link rel="https://api.w.org/" href="https://librelabgrx.cc/wp-json/" />
  <link rel="alternate" type="application/json" href="https://librelabgrx.cc/wp-json/wp/v2/pages/571" />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://librelabgrx.cc/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://librelabgrx.cc/wp-includes/wlwmanifest.xml" />
  <meta name="generator" content="WordPress 5.7" />
  <link rel="canonical" href="https://librelabgrx.cc/sala-lambda-alhambra/" />
  <link rel='shortlink' href='https://librelabgrx.cc/?p=571' />
  <link rel="alternate" type="application/json+oembed" href="https://librelabgrx.cc/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flibrelabgrx.cc%2Fsala-lambda-alhambra%2F" />
  <link rel="alternate" type="text/xml+oembed" href="https://librelabgrx.cc/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flibrelabgrx.cc%2Fsala-lambda-alhambra%2F&#038;format=xml" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ site.twitter }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.main_picture }}" />

  <!-- Open Graph -->
  <meta property="og:locale" content="es_ES">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="{{ site.main_picture }}" />

  <style type="text/css" id="custom-theme-colors">
    /*
		 * Set background for:
		 * - featured image :before
		 * - featured image :before
		 * - post thumbmail :before
		 * - post thumbmail :before
		 * - Submenu
		 * - Sticky Post
		 * - buttons
		 * - WP Block Button
		 * - Blocks
		 */
    .image-filters-enabled .site-header.featured-image .site-featured-image:before,
    .image-filters-enabled .site-header.featured-image .site-featured-image:after,
    .image-filters-enabled .entry .post-thumbnail:before,
    .image-filters-enabled .entry .post-thumbnail:after,
    .main-navigation .sub-menu,
    .sticky-post,
    .entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
    .entry .button,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .entry .entry-content>.has-primary-background-color,
    .entry .entry-content>*[class^="wp-block-"].has-primary-background-color,
    .entry .entry-content>*[class^="wp-block-"] .has-primary-background-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color.has-primary-background-color,
    .entry .entry-content .wp-block-file .wp-block-file__button {
      background-color: hsl(0, 100%, 33%);
      /* base: #0073a8; */
    }

    /*
		 * Set Color for:
		 * - all links
		 * - main navigation links
		 * - Post navigation links
		 * - Post entry meta hover
		 * - Post entry header more-link hover
		 * - main navigation svg
		 * - comment navigation
		 * - Comment edit link hover
		 * - Site Footer Link hover
		 * - Widget links
		 */
    a,
    a:visited,
    .main-navigation .main-menu>li,
    .main-navigation ul.main-menu>li>a,
    .post-navigation .post-title,
    .entry .entry-meta a:hover,
    .entry .entry-footer a:hover,
    .entry .entry-content .more-link:hover,
    .main-navigation .main-menu>li>a+svg,
    .comment .comment-metadata>a:hover,
    .comment .comment-metadata .comment-edit-link:hover,
    #colophon .site-info a:hover,
    .widget a,
    .entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
    .entry .entry-content>.has-primary-color,
    .entry .entry-content>*[class^="wp-block-"] .has-primary-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color blockquote.has-primary-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color blockquote.has-primary-color p {
      color: hsl(0, 100%, 33%);
      /* base: #0073a8; */
    }

    /*
		 * Set border color for:
		 * wp block quote
		 * :focus
		 */
    blockquote,
    .entry .entry-content blockquote,
    .entry .entry-content .wp-block-quote:not(.is-large),
    .entry .entry-content .wp-block-quote:not(.is-style-large),
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="number"]:focus,
    input[type="tel"]:focus,
    input[type="range"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="week"]:focus,
    input[type="time"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="color"]:focus,
    textarea:focus {
      border-color: hsl(0, 100%, 33%);
      /* base: #0073a8; */
    }

    .gallery-item>div>a:focus {
      box-shadow: 0 0 0 2px hsl(0, 100%, 33%);
      /* base: #0073a8; */
    }

    /* Hover colors */
    a:hover,
    a:active,
    .main-navigation .main-menu>li>a:hover,
    .main-navigation .main-menu>li>a:hover+svg,
    .post-navigation .nav-links a:hover,
    .post-navigation .nav-links a:hover .post-title,
    .author-bio .author-description .author-link:hover,
    .entry .entry-content>.has-secondary-color,
    .entry .entry-content>*[class^="wp-block-"] .has-secondary-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color p,
    .comment .comment-author .fn a:hover,
    .comment-reply-link:hover,
    .comment-navigation .nav-previous a:hover,
    .comment-navigation .nav-next a:hover,
    #cancel-comment-reply-link:hover,
    .widget a:hover {
      color: hsl(0, 100%, 23%);
      /* base: #005177; */
    }

    .main-navigation .sub-menu>li>a:hover,
    .main-navigation .sub-menu>li>a:focus,
    .main-navigation .sub-menu>li>a:hover:after,
    .main-navigation .sub-menu>li>a:focus:after,
    .main-navigation .sub-menu>li>.menu-item-link-return:hover,
    .main-navigation .sub-menu>li>.menu-item-link-return:focus,
    .main-navigation .sub-menu>li>a:not(.submenu-expand):hover,
    .main-navigation .sub-menu>li>a:not(.submenu-expand):focus,
    .entry .entry-content>.has-secondary-background-color,
    .entry .entry-content>*[class^="wp-block-"].has-secondary-background-color,
    .entry .entry-content>*[class^="wp-block-"] .has-secondary-background-color,
    .entry .entry-content>*[class^="wp-block-"].is-style-solid-color.has-secondary-background-color {
      background-color: hsl(0, 100%, 23%);
      /* base: #005177; */
    }

    /* Text selection colors */
    ::selection {
      background-color: hsl(0, 50%, 90%);
      /* base: #005177; */
    }

    ::-moz-selection {
      background-color: hsl(0, 50%, 90%);
      /* base: #005177; */
    }
  </style>
  <link rel="icon" href="https://librelabgrx.cc/wp-content/uploads/2019/08/favicon-1-150x150.png" sizes="32x32" />
  <link rel="icon" href="https://librelabgrx.cc/wp-content/uploads/2019/08/favicon-1.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="https://librelabgrx.cc/wp-content/uploads/2019/08/favicon-1.png" />
  <meta name="msapplication-TileImage" content="https://librelabgrx.cc/wp-content/uploads/2019/08/favicon-1.png" />
  <style type="text/css" id="wp-custom-css">
    /* ------- Estilos generales ----*/
    body {
      background: #eceadf
    }

    #masthead {
      background: #b71c1c;
    }

    body.page .entry .entry-content>*,
    .entry .entry-summary>* {
      max-width: none;
    }

    .entry .entry-content>*,
    .entry .entry-summary>* {
      max-width: none;
    }

    .site-header.featured-image .entry-title {
      font-size: 71px;
      line-height: 0.94;
      font-weight: 900;
      text-shadow: none;
      color: #f3f4d0;
    }

    h2 {
      font-size: 50px;
      font-weight: 900;
      line-height: 1;

    }

    h3 {
      font-size: 37px;
      font-weight: 600;
      line-height: 1;
    }

    p {
      color: #212121;
      font-weight: 600;
      line-height: 1.2;
    }

    a,
    .widget a {
      color: #c92a2a;
    }



    .site-header.featured-image .custom-logo-link {
      background: none;
    }

    .site-header.featured-image .custom-logo-link:hover {
      box-shadow: none;
    }

    .site-title a {
      font-weight: 900;
      font-size: 36px;
      color: #f3f4d0 !important;
      text-transform: uppercase;
      text-shadow: none;
    }

    .site-description {
      display: none;
    }

    #menu-principal li a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      color: #f3f4d0;
      letter-spacing: 1px;
      text-shadow: none;
    }

    #menu-social li a {
      color: #f3f4d0;
    }


    .site-header.featured-image:after {
      background: #b71c1c;
    }


    h1:not(.site-title):before,
    h2:before {
      display: none;
      /* línea decorativa */
    }

    /* Home / Header */

    @media (max-width: 768px) {
      .site-header.featured-image .entry-title {
        font-size: 50px;
        hyphens: none;
      }
    }

    @media (min-width: 768px) {

      .home .site-header.featured-image .site-featured-image {
        margin: 0 calc(10% + 60px);
        margin-bottom: 5%;
      }

      .site-header.featured-image .site-featured-image .entry-header {
        margin: 0;
        max-width: 550px;
      }
    }

    /* Home Content */

    @media only screen and (min-width: 768px) {
      .home .site-content {}

      .home .entry-content {
        padding: 0;
        margin: 0 calc(10% + 60px);
        max-width: 100%;
      }


    }

    body.home .si2-home-upcoming {
      border: solid 5px #212121;
      margin-right: 40px;
      padding: 24px;
    }

    .si2-lista-eventos h2 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      margin: 0;
      margin-left: 20px;
    }

    .si2-lista-eventos h3 {
      font-size: 37px;
      margin: 0;
      margin-left: 20px;
      margin-top: 20px;
      text-decoration: underline;
    }

    .si2-lista-eventos p {
      margin: 0;
      margin-left: 20px;
      margin-top: 5px;
      color: #212121;
      font-size: 20px;
      font-weight: 600;
    }

    a.si2-more {
      color: #c92a2a;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }

    .home .entry .entry-content a {
      text-decoration: none;
    }

    .si2-home-get-involved {
      margin-top: 48px;
    }

    .si2-home-get-involved-block h3 {
      margin-bottom: 10px;
    }

    .si2-home-get-involved-block p {
      margin: 0;
    }


    /* Footer */

    @media only screen and (min-width: 768px) {
      #colophon .widget-area {
        margin-left: calc(10% + 60px);
        margin-right: calc(10% + 60px);
      }
    }

    .wp-block-tag-cloud a {
      font-family: sans-serif;
    }

    .site-info {
      display: none;
    }

    .tagcloud a {
      font-size: 17px;
    }

    .tagcloud a::before {
      content: '#';
    }

    /* contenido */

    .page-template-default:not(.home) .entry-title {
      display: none;
    }

    h1.librelabgrx {
      color: #c92a2a;
      width: 142px !important;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 0.76;

    }

    h2 {
      font-size: 37px;
      font-weight: 900;
      line-height: 1.35;

    }

    h2.librelabgrx {
      color: #c92a2a;
    }

    h2.librelabgrx.si2-middle {
      font-size: 110px;
      margin-top: -110px;
      line-height: 1;

    }

    .archive .page-header {
      margin-bottom: 0;
    }

    .archive .page-header .page-title {
      display: none;
    }

    .copyleft {
      display: inline-block;
      transform: rotate(180deg);
    }

    /* -- eventos -- */
    span.event-date,
    span.event-location {
      color: #777;
      font-weight: bold;
      font-size: 0.8rem;
    }

    span.lugar {
      color: #111;
    }
  </style>
  <link rel="stylesheet" href="/assets/css/iso.css">
  <link rel="stylesheet" href="/assets/css/form.css">
</head>
