---
layout: default
title: Proposal submission - Devroom Aλhambra Day in esLibre 2021 - Error
permalink: /failed/
---

<div style="background-color: #eceadf !important;" class="bootstrap">
  <h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: An error has occurred</h1>

  <p style="text-align: center;">
    <br><br>It seems that there was an error submitting the proposal.<br><br>

    Please, try again in a few minutes, and if you continue to have any problems, please write to <a href="mailto:lambda.in.alhambra@librelabgrx.cc">lambda.in.alhambra@librelabgrx.cc</a>.<br><br>

    Sorry for the inconvenience.
  </p>
</div>
