---
layout: default
title: Proposal submission - Devroom Aλhambra Day in esLibre 2021 - Proposal received
permalink: /received/
---

<div style="background-color: #eceadf !important;" class="bootstrap">
  <h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: Proposal received!!!</h1>

  <p style="text-align: center;">
    <strong>Thank you very much for your proposal for the virtual edition of <strong>es<span class="red">Libre</span></strong> 2021 that we are organizing for another year!</strong><br><br>

    You should have received a confirmation email from <strong>tux@eslib.re</strong> (🐧).<br><br>

    If you have reached this page, but you have not received the confirmation email, write to <a href="mailto:lambda.in.alhambra@librelabgrx.cc">lambda.in.alhambra@librelabgrx.cc</a><br>(also check if for whatever reason it would have gone to the spam folder 😅).<br><br>

    In any case, do not lose sight of <a href="https://gitlab.com/librelabgrx/propuestas-lambda-alhambra/-/merge_requests">your proposal in our repository</a> if there were any comments or questions<br>(the link you should have received by mail will take you directly to
    it).<br><br>

    Once it is definitively accepted, you can find it on the <a href="/2021/">proposals page</a>.
  </p>

  <h3 style="padding-top: 20px; text-align: center;">SEE YOU SOON!!!<br>👏👏👏</h3>
</div>
