---
layout: default
title: Propuestas para la sala Aλhambra Day en esLibre 2021
description: Propuestas de charlas y talleres aceptadas para la sala Aλhambra Day en esLibre 2021
permalink: /2021/
---

<div id="content" class="site-content">

  <section id="primary" class="content-area">
    <main id="main" class="site-main">
      <article id="post-571" class="post-571 page type-page status-publish hentry entry">
        <header class="entry-header">
          <h1 class="entry-title">Sala esLibre 2021 &#8220;Aλhambra Day: Programación funcional para todo el mundo&#8221;</h1>
        </header>

        <div class="entry-content">
          <figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="576" src="https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-1024x576.png" alt="" class="wp-image-574"
              srcset="https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-1024x576.png 1024w, https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-300x169.png 300w, https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small-768x432.png 768w, https://librelabgrx.cc/wp-content/uploads/2021/03/eslibre2021_b_small.png 1280w"
              sizes="(max-width: 1024px) 100vw, 1024px" /></figure>

          <h3 style="text-align: center;">Propuestas aceptadas</h3>

          <h4>Charlas</h4>

          <ul id="list">
            {% for talk in site.pages %}
            {% if talk.path contains '2021/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
            {% unless talk.path contains 'canceladas' %}
            <li><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a>
              {% endunless %}
              {% endif %}
              {% endfor %}
          </ul>

          <h4>Talleres</h4>
          <ul id="list">
            {% for workshop in site.pages %}
            {% if workshop.path contains '2021/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
            {% unless workshop.path contains 'cancelados' %}
            <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a>
              {% endunless %}
              {% endif %}
              {% endfor %}
          </ul>

        </div><!-- .entry-content -->
      </article><!-- #post-571 -->
    </main><!-- #main -->
  </section><!-- #primary -->

</div><!-- #content -->
